<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {title}) %>
<body>
    <%- include('../partials/nav.ejs') %>
    <% if(blogs.length > 0) { %>
    <%   blogs.forEach(blog => { %>
            
            <a href="/blogs/<%= blog._id%>" class="single_blog">
                <h3 class="title"> <%= blog.title %> </h3>
            </a>
            <p class="snippet"> <%= blog.snippet%> </p>

    <%  }) %>
    <%}  else { %>
            <p>Ainda não há blog cadastrados</p>
    <%  } %>
</body>
</html>